<div class="headings">
    <h1>Welcome to InstaSMart</h1>
  </div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">Veges at Your Doorstep</div>
    
    <div class="collapse navbar-collapse" id="navbarText" >
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item active">
          <a class="nav-link" name="home" [routerLink]="['home']" [routerLinkActive]='["active"]'>Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" name="veges" [routerLink]="['veges']" [routerLinkActive]='["active"]'>Veges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" name="aboutus" [routerLink]="['app-aboutus']" [routerLinkActive]='["active"]'>About us</a>
          
        </li>
        <li class="nav-item">
            <a class="nav-link" name="contactus" [routerLink]="['app-contactus']" [routerLinkActive]='["active"]'>Contact us</a>
        </li>
      </ul>
      <span class="nav navbar-nav navbar-right" >
        <button class="nav-button" type="button" class="btn btn-light" [routerLink]="['cart']" [routerLinkActive]='["active"]'><span class="bi bi-cart"></span></button>
        <button type="button" class="btn btn-dark" [routerLink]="['login']" [routerLinkActive]='["active"]' >Login</button>
      </span>
    </div>
  </nav>
  

  <router-outlet></router-outlet>
