<div class="card" >
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
    <div class="table-responsive">
        <table *ngIf="veges.length" class="table">
        <thead>
            <th>Name</th>
            <th>Category</th>
           
            <th>Kg</th>
            <th>Price</th>
        </thead>
        <tbody *ngFor="let veg of veges">
            <td>{{veg.name}}</td>
            <td>{{veg.category}}</td>
           
            <td><input type="number" style="width:50px;" [(ngModel)]="veg.kg"/></td>
            <td>{{veg.price}}</td>
            
            <button class="btn btn-primary" (click)="removeVeges(veg)">Delete</button>
        </tbody>
        </table>
    </div>
    <button class="btn-btn-success" (click)="checkOut()" >Check Out</button>
    <button class="btn-btn-danger" (click)="emptyCart()">Clear cart</button>
    </div>
    <h5>Total Amount to be paid: {{grandTotal|currency:'INR'}}</h5>
</div>
